<nav>
  <li><a href="/">Home Page</a></li>
  <li><a href="cheese.feta">Feta Cheese</a></li>
  <li><a href="cheese.gouda">Gouda Cheese</a></li>
  <li><a href="cheese.cheddar">Cheddar Cheese</a></li>
</nav>
