<% include ../partials/header %>
<% include ../partials/nav %>



<article>
  <h2><%= cheese.title %></h2>
  <p><%= cheese.content %></p>
  <img src="<%=cheese.image %>" height="1280" width="1060">
  <a href="<%=cheese.link %>">link</a>
</article>


<% include ../partials/footer %>
