<% include ../partials/header %>
<% include ../partials/nav %>


<img src="/images/gouda.jpg" alt="Gouda" height="600" width="800">
<% Object.keys(gcheese).forEach(function (id) { %>
<article>
  <h2><%= gcheese[id].title %></h2>
  <p><%= gcheese[id].content %></p>
</article>
<% }) %>

<% include ../partials/footer %>
